<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>
<div
id="app"
>
<ul>
    <li v-for='fruit of fruits'>{{fruit}}</li>
    <li v-for='product of products'>{{product.title}}</li>
    <div
    id="input-container"
    >
        <input v-model="newFruit" @keyup.enter="addFruit" type="text"/>
        <button 
        @click="addFruit"
        id="button"
        >add</button>
    </div>
    <button
    @click="fetchData"
    >
        fetch
    </button>
</ul>
<box :is-visible="false"></box>
</div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="./script.js"></script>
</html>