#input-container{
    background-color: red;
}

#button {
      display: inline-block;
      padding: 10px 20px;
      background: #0077cc;
      color: white;
      border-radius: 6px;
      position: relative;
      font-family: sans-serif;
    }

    #button::before {
      content: "👉 ";
    }

   #button::after {
      content: " ✅";
    }

    .box{
        height: 50px;
        width: 50px;
        background: blue;
    }

    #change-color{
        height: 50px;
        width: 50px;
    }