<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./signup.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=TASA+Orbiter:wght@400..800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div
id="signup"
class="container"
>

    <div
    id="form-container"
    >
        <h1>Sign up form</h1>
    <form @submit.prevent="onSubmit">
        <label for="name">Name:</label>
        <input v-model="name" type="text" id="name" required/>
        <label for="email">Email:</label>
        <input v-model="email" type="text" required/>
        <label for="password">Password:</label>
        <input v-model="password" type="password" id="password" class="password" required/>
        <label for="repeat-password">Repeat password:</label>
        <input v-model="repeatPassword" type="password" id="repeat-password" class="password" required/>
        <button
        type="submit"
        :disabled="loading"
        >
            submit
        </button>
        <spinner :is-loading="loading"></spinner>
    </form>

    </div>
    
</div>
  
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
<script src="./signup.js"></script>
</html>